<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nam itaque sed minus, cupiditate
                placeat tempora ipsa eius dolorum quis minima soluta quidem deserunt saepe quos nihil? Totam, eos
                illo.</p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
    </div>
</div>