<div class="collapsible">
    <header class="collapsible__header">
        <h2>Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, explicabo
        commodi! Deleniti sit repellendus minima nam aperiam ipsum quia, minus quisquam ex libero possimus, itaque
        fuga rem atque a numquam?</div>
</div>

<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2>Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, explicabo
        commodi! Deleniti sit repellendus minima nam aperiam ipsum quia, minus quisquam ex libero possimus, itaque
        fuga rem atque a numquam?</div>
</div>